SOURCEGRAPH_BIND_ADDRESS=127.0.0.1
SOURCEGRAPH_HTTP_PORT=7080
PROMETHEUS_BIND_ADDRESS=127.0.0.1
PROMETHEUS_PORT=9090
MCP_BIND_ADDRESS=127.0.0.1
MCP_PORT=7081

SOURCEGRAPH_EXTERNAL_URL=http://127.0.0.1:7080
SOURCEGRAPH_INTERNAL_URL=http://caddy
SOURCEGRAPH_ADMIN_USERNAME=khue
SOURCEGRAPH_ADMIN_EMAIL=khue@example.com
SOURCEGRAPH_ADMIN_PASSWORD=change-me-now1
SOURCEGRAPH_ACCESS_TOKEN=

GHES_URL=https://git.taservs.net
GHES_PAT=
GHES_ORGS=
GHES_CA_CERT_FILE=

GHEC_PAT=
GHEC_ORGS=

PERSONAL_GITHUB_PAT=
PERSONAL_GITHUB_QUERY=user:khuedoan

COLIMA_CPU=4
COLIMA_MEMORY=16
COLIMA_DISK=400
