<html>
    <head>
        <script src="https://unpkg.com/htmx.org@1.9.7"></script>
        <link href="/public/globals.css" rel="stylesheet">
    </head>
    <body>
        <h1>TODOs</h1>
        <form hx-post="/todo" hx-swap="none">
            <label for="description">New thing to do:</label>
            <input id="description" name="description" type="text">
            <button type="submit">Add</button>
        </form>
        <div id="todo-list"
             hx-get="/todo"
             hx-trigger="load, updateTodos from:body"
             hx-swap="innerHTML">
        </div>
    </body>
</html>
